<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>企业信息族谱分析-主页</title>
    <link rel="stylesheet" href="assets/bootstrap/bootstrap.min.css">
    <script src="assets/bootstrap/jquery.min.js"></script>
    <script src="assets/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="assets/bootstrap/bootstrap-select.min.css">
    <script src="assets/bootstrap/bootstrap-select.js"></script>
</head>

<body style="background: url(images/mountain.jpg); background-size: 100% 100%;">
<div class="jumbotron" style="padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; background: rgba(139,117,0, 0.1)">
    <div class="container" style="min-height:768px;">
        <nav class="navbar navbar-default" style="background: rgba(0, 0, 0, 0); border: none">
            <div class="container-fluid">
                <div class="navbar-header" style="padding-top:15px">
                    <img alt="Brand" src="images/person_white.png" style="length:30px; width:30px; padding-top:0px">
                    <a style="color:#e6e6e6; margin-top:20px">Art@Code - 中软杯</a>
                </div>
            </div>
        </nav>
        <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-6">
                <div class="row" style="margin-top:200px; margin-bottom:20px">
                    <h2 style="color:#fff; font-size:35px; text-align:center; letter-spacing: 3px;">企业信息族谱分析</h2>
                </div>
                <form action="search_list.html" class="bs-example bs-example-form" role="form">
                    <div class="input-group input-group-lg">
                        <input type="text" id="search" name="search" autocomplete="off" list="history"
                               style="color:rgba(255,255,255, 0.8); height:42px; background-color: rgba(0, 0, 0, 0)"
                               class="form-control" placeholder="请输入企业名称或统一社会信用代码">
                        <span class="input-group-btn">
                            <button id="search-btn"
                                    class="btn btn-default"
                                    style="height:42px; background-color: rgba(255,255,255, 0.8)"
                                    type="submit">查询</button>
                        </span>
                    </div>
                    <datalist id="history" style="background-color: rgba(255,255,255, 0.5)">
                    </datalist>
                </form>
                <div class="row">
                    <h4 id="hot-list" class="col-md-3" style="margin-top:30px; color: rgba(255,255,255, 0.8)">热搜榜：</h4>
                    <!--热搜公司模板-->
                    <div id='hot-list-item-template'
                         class='label label-default col-md-2'
                         style='margin:30px 5px 10px 5px; color: rgba(255,255,255,0.8); text-overflow:ellipsis; overflow: hidden;'
                    ></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/index.js"></script>
</body>

</html>
