<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>企业信息族谱分析-主页</title>
    <link rel="stylesheet" href="assets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="assets/bootstrap/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body style="background: url(images/mountain.jpg); background-size: 100% 100%;">
<div class="jumbotron" style="padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; background: rgba(139,117,0, 0.1)">
    <div class="container" style="min-height:768px;">
        <nav class="navbar navbar-default" style="background: rgba(0, 0, 0, 0); border: none">
            <div class="container-fluid">
                <div class="navbar-header" style="padding-top:15px">
                    <img alt="Brand" src="images/person_white.png" style="length:30px; width:30px; padding-top:0px">
                    <a style="color:#e6e6e6; margin-top:20px "href="about-us.html">Art@Code - 中软杯</a>
                </div>
            </div>
        </nav>
        <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-6">
                <div class="row" style="margin-top:200px; margin-bottom:20px">
                    <h2 style="color:#fff; font-size:35px; text-align:center; letter-spacing: 3px;">企业信息族谱分析</h2>
                </div>
                <form action="search_list.html" class="bs-example bs-example-form" role="form">
                    <div class="input-group input-group-lg">
                        <input type="text" id="search" name="search" autocomplete="off" list="history"
                               style="color:rgba(255,255,255, 0.8); height:42px; background-color: rgba(0, 0, 0, 0)"
                               class="form-control" placeholder="请输入企业名称或统一社会信用代码">
                        <span class="input-group-btn">
                            <button id="search-btn"
                                    class="btn btn-default"
                                    style="height:42px; background-color: rgba(255,255,255, 0.8)"
                                    type="submit">查询</button>
                        </span>
                    </div>
                    <datalist id="history" style="background-color: rgba(255,255,255, 0.5)">
                    </datalist>
                </form>
                <div class="row">
                    <h4 id="hot-list" class="col-md-3" style="margin-top:30px; color: rgba(255,255,255, 0.8)">热搜榜：</h4>
                    <!--热搜公司模板-->
                    <a id='hot-list-item-template'>
                        <div class='label label-default col-md-2'
                             style='margin:30px 5px 10px 5px; color: rgba(255,255,255,0.8); text-overflow:ellipsis; overflow: hidden;'></div>
                    </a>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <h3 style="color: rgba(255,255,255, 0.8); padding-left: 15px; padding-right: 15px;">财经热点</h3>
                </div>
                <div class="row" id="news_preview" style="margin-top: 20px;">
                    <!--新闻模板-->
                    <div id="news-preview-tempalte" style="display: flex; margin-bottom: 10px;">
                        <div style="width: 210px; height: 130px; flex: 0 0 210px;">
                            <a class="new-preview-image-link"><img class="news-preview-image" src="images/pedaily.jpg" style="width: 100%; height: 100%;"/></a>
                        </div>
                        <div style="padding-left: 10px; padding-right: 10px; width: 100%; margin-top: 30px;">
                            <!--标题-->
                            <a class="news-preview-title" style="color: rgba(255,255,255, 0.8); font-size: 18px;"></a>
                            <!--时间-->
                            <div class="news-preview-time" style="color: rgba(255,255,255, 0.7); font-size: 14px; text-align: right; margin-top: 5px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/index.js"></script>
</body>

</html>
