<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>企业信息族谱分析-查询结果</title>
    <link rel="stylesheet" href="assets/bootstrap/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style type="text/css">
        #content {
            font-size: 15px;
            border-width: 0;
            background: rgba(255, 255, 255, 0.3);
            margin-top: 25px;
        }

        #content:hover {
            background-color: rgba(255, 255, 255, 0.5);
        }

        .panel-default > .panel-heading {
            margin-top: 60px;
            font-size: 18px;
        }

        .table > tbody > tr > td {
            padding-left: 10px;
            padding-right: 10px;
            font-size: 14px;
            max-width: 180px;

        }

        .table > thead > tr > th {
            padding-left: 10px;
            padding-right: 10px;
            max-width: 180px;

        }

        #item {
            font-weight: bold;
        }
    </style>

    <script type="text/javascript">
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            var res = decodeURI(r[2]);
            if (r){
                var obj=document.getElementById("name");
                obj.innerHTML = res;
            }
            return res;
        }

        var shs = "";
        $(function () {
            var corpGraphId = getQueryString("graphId");
            getQueryString("name");
            $.ajax({
                type: "get",
                url: "corp",
                data: {graphId: corpGraphId},
                dataType: "json",
                success: function (data) {
                    const format = (x) => (x == null || x == "" || x == "None") ? "未公开" : x;

                    // TODO: 将返回的数据添加至页面
                    // 基本信息
                    $("#id").text(data.id); $("#basicInfoName").text(data.name);
                    $('#type').text(data.type); $("#legal_person").text(data.legal_person);
                    $('#reg_date').text(data.reg_date); $('#reg_auth').text(data.reg_auth);
                    $('#checkDate').text(data.checkDate); $('#state').text(data.state);
                    $('#address').text(data.address); $('#field').text(data.field);
                    $('#startDate').text(data.startDate); $('#stopDate').text(data.stopDate);
                    $('#reg_capt').text(data.reg_capt);

                    // 股东信息
                    $('#corpController').text(data.corpController);
                    var shareholders = data.shareholders;
                    var shareholder_template = $(".shareholder-template");
                    for (var i = 0; i < shareholders.length; i++) {
                        var sh = shareholders[i];
                        var shareholder = shareholder_template.clone();
                        shareholder.children("#sh_no").text(i+1);
                        shareholder.children("#sh_bf_name").text(sh.sh_name);
                        shareholder.children("#sh_bf_type").text(sh.sh_type);
                        shareholder.find("a").attr("onclick", "showDetail("+i+")");
                        $("#shareholder-list").append(shareholder);
                    }
                    shareholder_template.remove();

                    // 经营异常信息
                    var irgs = data.irgOpts;
                    var irg_template = $('.irg-template');
                    for (var i = 0; i < irgs.length; i++) {
                        var irgOpt = irgs[i];
                        var irg = irg_template.clone();
                        irg.children(".irgNo").text(i+1);
                        irg.children(".irgReason").text(irgOpt.irgReason);
                        irg.children(".irgDate").text(irgOpt.irgDate);
                        irg.children(".deIrgReason").text(irgOpt.deIrgReason);
                        irg.children(".deIrgDate").text(irgOpt.deIrgDate);
                        irg.children(".deIrgAuth").text(irgOpt.deIrgAuth);
                        $("#irg-list").append(irg);
                    }
                    irg_template.remove();

                    // 变更信息
                    var modis = JSON.parse(data.modifications);
                    var modi_template = $(".modification-template");
                    console.log("--------------")
                    console.log(modis);
                    console.log(modis.length);
                    for (var i = 0; i < modis.length; i++) {
                        var m = modis[i];
                        var modi = modi_template.clone();
                        modi.children("#modiNo").text(i+1);
                        modi.children("#title").text(m.变更事项);
                        modi.children("#priorContent").text(m.变更前内容);
                        modi.children("#laterContent").text(m.变更后内容);
                        modi.children("#date").text(m.变更时间);
                        $('#modi-list').append(modi);
                    }
                    modi_template.remove();

                    // 添加链接
                    $('#basic-a').attr("href", "info.html?graphId=" + data.graph_id + "&name=" + data.name);
                    $('#inverstment-a').attr("href", "investment.html?graphId=" + data.graph_id + "&name=" + data.name);
                    $('#staff-a').attr("href", "staff.html?graphId=" + data.graph_id + "&name=" + data.name);
                    $('#corp-a').attr("href", "corp.html?graphId=" + data.graph_id + "&name=" + data.name);

                    shs = data.shareholders;
                    console.log(data);
                }
            });
        });
        function showDetail(i) {
            $("#sh_name").text(shs[i].sh_name)
            $("#sh_type").text(shs[i].sh_type)
            $("#sh_id").text(shs[i].sh_id)
            $("#sh_method").text(shs[i].method)
            $("#sh_subscp_date").text(shs[i].subscp_date)
            $("#sh_actual_subscp_date").text(shs[i].actual_subscp_date)
            $("#sh_actual_subscirption").text(shs[i].actual_subscirption)
            $("#sh_subscription").text(shs[i].subscription)
        }
    </script>

</head>

<body style="background: url(images/mountain.jpg); background-size: 100% 100%;">
<div class="jumbotron"
     style="height: 100%; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; background: rgba(255,255,255, 0.7)">
    <div class="container" style="height: 100%; min-height:768px;">
        <nav class="navbar navbar-default" style="background: rgba(0, 0, 0, 0.6); border: none">
            <div class="container-fluid">
                <div class="navbar-header" style="padding-top:12px">
                    <img alt="Brand" src="images/person_white.png" style="length:30px; width:30px; padding-top:0px">
                    <a style="color:#e6e6e6; margin-top:20px"href="about-us.html">Art@Code - 中软杯</a>
                </div>
            </div>
        </nav>
        <div class="row"
             style="background: #EDEDED; height:100%; margin-left:0px; margin-right:0px; margin-top:-20px; padding-top:40px">
            <h2 style="text-align: center;" id="name"></h2>
            <div class="btn-group btn-group-justified" role="group" style="margin-top:50px" aria-label="...">
                <div class="btn-group" role="group">
                    <a id="basic-a">
                        <button type="button" id="content" class="btn btn-default active">基本信息</button>
                    </a>
                </div>
                <div class="btn-group" role="group">
                    <a id="inverstment-a">
                        <button type="button" id="content" class="btn btn-default">投资族谱</button>
                    </a>
                </div>
                <div class="btn-group" role="group">
                    <a id="staff-a">
                        <button type="button" id="content" class="btn btn-default">任职族谱</button>
                    </a>
                </div>
                <div class="btn-group" role="group">
                    <a id="corp-a">
                        <button type="button" id="content" class="btn btn-default">企业族谱</button>
                    </a>
                </div>
            </div>
            <div id="info" style="padding-top:10px; padding-left:100px; padding-right:100px">
                <div class="panel panel-default" style="background-color:rgba(0, 0, 0, 0)">
                    <div class="panel-heading">基本信息</div>
                    <!-- Table -->
                    <table class="table" style="margin-top:30px;">
                        <tbody>
                        <tr>
                            <td>
                                <b>统一社会信用代码：</b>
                                <span id="id"></span>
                            </td>
                            <td>
                                <b>企业名称</b>
                                <span id="basicInfoName"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>类型：</b>
                                <span id="type"></span>
                            </td>
                            <td>
                                <b>法定代表人：</b>
                                <span id="legal_person"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>注册资本：</b>
                                <span id="reg_capt"></span>
                            </td>
                            <td>
                                <b>成立日期： </b>
                                <span id="reg_date"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>营业期限自：</b>
                                <span id="startDate"></span>
                            </td>
                            <td>
                                <b>营业期限至：</b>
                                <span id="stopDate"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>登记机关： </b>
                                <span id="reg_auth"></span>
                            </td>
                            <td>
                                <b>核准日期： </b>
                                <span id="checkDate"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>登记状态：</b>
                                <span id="state"></span>
                            </td>

                            <td>
                                <b>住所：</b>
                                <span id="address"></span>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <b>经营范围： </b>
                                <span id="field"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="panel-heading">股权结构</div>
                    <div class="panel-body" style="padding-bottom:0px">
                        <p style="padding-bottom:0px; font-size:15px">
                            <b>企业控股人:</b>
                            <b id="corpController"></b>
                        </p>
                    </div>
                    <!-- Table -->
                    <table class="table" style="margin-top:30px;">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>股东名称</th>
                            <th>股东类型</th>
                            <th>证照/证件类型</th>
                            <th>证照/证件号码</th>
                            <th>详情</th>
                        </tr>
                        </thead>
                        <tbody id="shareholder-list">
                        <tr class="shareholder-template">
                            <td id="sh_no"></td>
                            <td id="sh_bf_name"></td>
                            <td id="sh_bf_type"></td>
                            <td>非公示项 </td>
                            <td>非公示项 </td>
                            <td id="sh_datail"><a class="sh_detail_href" data-toggle='modal' data-target='#note'>查看详情</a></td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="panel-heading">经营异常</div>
                    <!-- Table -->
                    <table class="table" style="margin-top:30px;">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>列入经营异常名录原因</th>
                            <th>列入日期</th>
                            <th>作出决定机关(列入)</th>
                            <th>移出经营异常名录原因</th>
                            <th>移出日期</th>
                            <th>作出决定机关(移出)</th>
                            <th>移出日期</th>
                        </tr>
                        </thead>
                        <tbody id="irg-list">
                        <tr class="irg-template">
                            <td class="irgNo"></td>
                            <td class="irgReason"></td>
                            <td class="irgDate"></td>
                            <td class="deIrgReason">非公示项</td>
                            <td class="deIrgDate">非公示项</td>
                            <td class="deIrgAuth"></td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="panel-heading">变更信息</div>
                    <!-- Table -->
                    <table class="table" style="margin-top:30px;">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>变更事项</th>
                            <th>变更前内容</th>
                            <th>变更后内容</th>
                            <th>变更时间</th>
                        </tr>
                        </thead>
                        <tbody id="modi-list">
                        <tr class="modification-template">
                            <td id="modiNo"></td>
                            <td id="title"></td>
                            <td id="priorContent"></td>
                            <td id="laterContent"></td>
                            <td id="date"></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>

<!--详情模态框-->
<div class="modal fade" id="note" tabindex="-1" role="dialog" aria-labelledby="login-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="login-title">查看详情</h4>
            </div>
            <form class="bs-example bs-example-form" role="form">
                <div class="modal-body">
                    <!-- Table -->
                    <table class="table"  style="margin-top:30px;">
                        <tbody>
                        <tr>
                            <td>
                                <b>名称：</b>
                                <span id="sh_name"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>统一社会信用代码：</b>
                                <span id="sh_id"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>认缴方式：</b>
                                <span id="sh_method"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>认缴日期：</b>
                                <span id="sh_subscp_date"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>实际认缴日期：</b>
                                <span id="sh_actual_subscp_date"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>认缴金额： </b>
                                <span id="sh_subscription"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>实缴金额： </b>
                                <span id="sh_actual_subscirption"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>股东类型：</b>
                                <span id="sh_type"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">

                </div>
            </form>
        </div>
    </div>
</div>

</body>

</html>

<!--
第一栏是基础信息，就是你demo里做的，下面是是股权结构（一个列表），还有变更信息（列表），还有经营异常信息（列表）。
第二栏是投资族谱，就是那张图，该公司的对外投资，可以控制层数（最大五层），
第三栏是企业图谱，公司的对外对投资情况，被投资情况。可控制层数。（最大五层），
第四栏目是任职人员在外情况。
-->
