<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>企业信息族谱分析-查询结果</title>
	<link rel="stylesheet" href="assets/bootstrap/bootstrap.min.css">
	<link href="https://cdn.bootcss.com/paginationjs/2.1.2/pagination.css" rel="stylesheet">
	<script src="assets/bootstrap/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/paginationjs/2.1.2/pagination.min.js"></script>
	<style type="text/css">
		td
		{
			border-top:0px;
		}
		.company_name
		{
			padding-left:8px;
			font-size:20px;
		}
		#jumbotron
		{
			min-height:768px;
			height:auto;
			padding: 0px 0px 0px 0px;
			margin: 0px 0px 0px 0px;
			background-size: 100% 100%;
			background: rgba(255, 255, 255, 0.8);
		}
	</style>
	<script type="text/javascript">
        var searchKeyword = "";
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            var keyword = decodeURI(r[2]);
            if (r){
                var obj=document.getElementById("name");
                obj.innerHTML = '"' + keyword + '"的搜索结果';
            }
            return keyword;
        }
        $(function() {
            var graphId = getQueryString("graphId");
            searchKeyword = getQueryString("search");
            var searchURL = "search";
            var searchData = {keyword: searchKeyword};
            if (graphId != null && graphId != "") {
                searchURL = "search-graphid";
				searchData = {graphId: graphId};
			}
            //加载搜索结果
            var corp_template = $("#corp-template");
            $.ajax({
                type : 'get',
                url : searchURL,
                data: searchData,
                dataType : 'json',
                success : function(data) {
                    var result = $("#result");
                    const format = (x) => (x == null || x == "" || x == "None") ? "未公开" : x;
                    for (var i = 0; i < data.length; i++) {

                        var corp = corp_template.clone();
                        corp.children(".company_name").attr("href", "info.html?graphId="+data[i].graphId+"&name="+data[i].name);
                        corp.children(".company_name").text(data[i].name);
                        corp.find(".type").text("公司类型：" + format(data[i].type));
                        corp.find(".reg_auth").text("注册机关：" + format(data[i].reg_auth));
                        corp.find(".id").text("统一社会信用代码：" + format(data[i].id));
                        corp.find(".state").text("经营状态：" + format(data[i].state));
                        corp.find(".reg_date").text("成立日期：" + format(data[i].reg_date));
                        result.append(corp)
                    }
                    corp_template.remove();

                    var initPagination = function(){
                        var num = $('.company_name').length;
                        $('#result').pagination(num,{
                            num_edge_entries: 1, //边缘页数
                            num_display_entries: 2, //主体页数
                            callback: pageselectCallback,
                            items_per_page:5//每页显示5项
                        });
                    }();

                    function pageselectCallback(page_index,jq){
                        var new_content = $(".company_name:eq("+page_index+")").clone();
                        $('#result').empty().append(new_content);
                        return false;
                    }
                }
            });
        });
	</script>

</head>

<body style="background: url(images/mountain.jpg); background-size: 100% 100%;">
<div class="jumbotron" style="position: fixed; overflow-x: hidden; overflow-y: scroll; width: 100%; height: 100%;">
	<div class="container">
		<nav class="navbar navbar-default" style="background: rgba(0, 0, 0, 0.6); border: none;">
			<div class="container-fluid">
				<div class="navbar-header" style="padding-top:12px">
					<img alt="Brand" src="images/person_white.png" style="length:30px; width:30px; padding-top:0px">
					<a style="color:#e6e6e6; margin-top:20px">Art@Code - 中软杯</a>
				</div>
			</div>
		</nav>
		<div class="row" style="min-height:768px; background: #EDEDED; height:-webkit-fill-available; margin-left:0px; margin-right:0px; margin-top:-20px; padding-top:40px">
			<h2 style="text-align: center;" id="name"></h2>
			<div id="result" style="height: 100%; padding-top:50px; padding-left:100px; padding-right:100px">
				<div id="corp-template">
					<a class='company_name' href=""></a>
					<table class='table'>
						<tbody>
						<tr>
							<td class="type">公司类型：</td>
							<td class="reg_auth">注册机关：</td>
							<td class="id">统一社会信用代码：</td>
						</tr>
						<tr>
							<td class="state">经营状态：</td>
							<td class="reg_date">成立日期：</td>
						</tr>
						</tbody>
					</table>
					<hr style="FILTER: alpha(opacity=100,finishopacity=0,style=3); width:100%; border-top:1px solid #cccccc"></hr>
				</div>
			</div>
		</div>
	</div>
</div>
</body>

</html>
