<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>企业信息族谱分析-查询结果</title>
    <link rel="stylesheet" href="assets/bootstrap/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style type="text/css">
        #content
        {
            font-size: 15px;
            border-width: 0;
            background:rgba(255, 255, 255, 0.3);
            margin-top:25px;
        }
        #content:hover
        {
            background-color: rgba(255, 255, 255, 0.5);
        }
        .panel-default>.panel-heading
        {
            margin-top: 60px;
            font-size:18px;
        }
        .table>tbody>tr>td
        {
            padding-left: 10px;
            padding-right: 10px;
            font-size:14px;
        }
        .table>thead>tr>th
        {
            padding-left: 10px;
            padding-right: 10px;
        }
        #item
        {
            font-weight:bold;
        }
    </style>

    <script type="text/javascript">
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            var res = decodeURI(r[2]);
            if (r){
                var obj=document.getElementById("name");
                obj.innerHTML = res;
            }
            return res;
        }
    </script>
    <style>

        .node {
            stroke: #fff;
            stroke-width: 1.5px;
        }

        .link {
            fill: none;
            stroke: #bbb;
        }

    </style>
    <script src="https://cdn.bootcss.com/d3/4.13.0/d3.min.js"></script>

</head>

<body style="background: url(images/mountain.jpg); background-size: 100% 100%;">
<div class="jumbotron" style="height: 100%; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; background: rgba(255,255,255, 0.7)">
    <div class="container" style="height: 100%; min-height:768px;">
        <nav class="navbar navbar-default" style="background: rgba(0, 0, 0, 0.6); border: none">
            <div class="container-fluid">
                <div class="navbar-header" style="padding-top:12px">
                    <img alt="Brand" src="images/person_white.png" style="length:30px; width:30px; padding-top:0px">
                    <a style="color:#e6e6e6; margin-top:20px"href="about-us.html">Art@Code - 中软杯</a>
                    <a style="color:#e6e6e6; margin-left:20px "href="index.html">主页</a>
                </div>
            </div>
        </nav>
        <div class="row" style="background: #EDEDED; height:100%; margin-left:0px; margin-right:0px; margin-top:-20px; padding-top:40px">
            <h2 style="text-align: center;" id="name"></h2>
            <div class="btn-group btn-group-justified" role="group" style="margin-top:50px" aria-label="...">
                <div class="btn-group" role="group">
                    <a id="basic-a">
                        <button type="button" id="content" class="btn btn-default">基本信息</button>
                    </a>
                </div>
                <div class="btn-group" role="group">
                    <a id="inverstment-a">
                        <button type="button" id="content" class="btn btn-default">投资族谱</button>
                    </a>
                </div>
                <div class="btn-group" role="group">
                    <a id="staff-a">
                        <button type="button" id="content" class="btn btn-default active">任职族谱</button>
                    </a>
                </div>
                <div class="btn-group" role="group">
                    <a id="corp-a">
                        <button type="button" id="content" class="btn btn-default">企业族谱</button>
                    </a>
                </div>
            </div>
            <div id="info" style="padding-top:10px; padding-left:100px; padding-right:100px">
                <div class="panel panel-default" style="background-color:rgba(0, 0, 0, 0)">
                    <div class="panel-heading">【拖动结点可查看局部关系，鼠标悬停在图标或文字上查看详细信息】</div>
                    <div class="panel-body">
                        <div  style="text-align:right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    显示层数<p id="curlayer" >5</p> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a onclick="load_relation_graph(2)">2</a></li>
                                    <li><a onclick="load_relation_graph(3)">3</a></li>
                                    <li><a onclick="load_relation_graph(4)">4</a></li>
                                    <li><a onclick="load_relation_graph(5)">5</a></li>
                                </ul>
                            </div>
                        </div>

                        <div>
                            <svg width="1000" height="800">
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    var graphId = getQueryString("graphId");
    var name = getQueryString("name");

    // 添加链接
    $('#basic-a').attr("href", "info.html?graphId=" + graphId + "&name=" + name);
    $('#inverstment-a').attr("href", "investment.html?graphId=" + graphId + "&name=" + name);
    $('#staff-a').attr("href", "staff.html?graphId=" + graphId + "&name=" + name);
    $('#corp-a').attr("href", "corp.html?graphId=" + graphId + "&name=" + name);

    load_relation_graph(2);

    function load_relation_graph(num){
        document.getElementById("curlayer").innerHTML = num; //更新显示层数的数字
        d3.select("body").select("svg") //清空SVG中的内容
            .selectAll('*')
            .remove();
        var max_layer = num;
        var img_w = 24;
        var img_h = 32;
        var svg = d3.select("body").select("svg"),
            width = +svg.attr("width"),
            height = +svg.attr("height");

        var color = d3.scaleOrdinal(d3.schemeCategory20);

        var simulation = d3.forceSimulation()
            .force("link", d3.forceLink().distance(180).strength(0.5))
            .force("charge", d3.forceManyBody())
            .force("center", d3.forceCenter(width / 2, height / 4))

//		d3.json("json/relation3.json", function(error, graph) {
        d3.json("staff-map?graphId="+graphId, function(error, graph) {
            if (error) throw error;

            var jsonstr="[]";
            var nodes = eval('('+jsonstr+')');  //显示的点
            var curlinks = eval('('+jsonstr+')');  //显示的边

            var initnodes = graph.nodes;
            initnodes.forEach(function(node){
                if(node.layer <= max_layer){
                    nodes.push(node);
//                  console.log(node);
                }
            });

            var nodeById = d3.map(initnodes, function(d) { return d.name; }),
                links = graph.edges,
                bilinks = [];


            var linkGroup = {};
            //对连接线进行统计和分组，不区分连接线的方向，只要属于同两个实体，即认为是同一组
            var linkmap = {};


            links.forEach(function(link) {
                if(link.layer < max_layer){
                    var s = link.source = nodeById.get(link.source),
                        t = link.target = nodeById.get(link.target),
                        r = link.relation,
                        linknum = 0,
                        text_pos = 0;
                    var tmplink = [s, t, r, linknum, text_pos, link.subscription, link.actual_subscription, link.method, link.subscp_date, link.actual_subscp_date];
                    var key = link.source.name < link.target.name ? link.source.name+':'+link.target.name: link.target.name+':'+link.source.name;
                    bilinks.push(tmplink);
                    if(!linkmap.hasOwnProperty(key)){
                        linkmap[key] = 0;
                        linkGroup[key]=[];
                    }
                    linkmap[key]++;
                    linkGroup[key].push(tmplink);
                    curlinks.push(link);
                }
            });

            for(var i=0; i<links.length; i++){
                if(links[i].layer >= max_layer) continue;
//              console.log(links[i].source, links[i].layer);
                var key = links[i].source.name < links[i].target.name ? links[i].source.name+':'+links[i].target.name: links[i].target.name+':'+links[i].source.name;
                links[i].size = linkmap[key];
                //同一组的关系进行编号
                var group = linkGroup[key];
                //给节点分配编号
                setLinkNumber(group);
            }

            function setLinkNumber(group){
                if(group.length==0) return;
                if(group.length==1){
                    group[0][3] = 0;
                    group[0][4] = 1 / 2;
                    return;
                }
                var maxLinkNumber = group.length%2==0?group.length/2:(group.length-1)/2;

                var startLinkNum = -maxLinkNumber;
                for(var i = 0;i<group.length;i++){
                    group[i][3] = startLinkNum++;
                    group[i][4] = (i + 1) / (group.length + 1);
                }
            }


            var R = 30;
            var link = svg.selectAll(".link")
                .data(bilinks)
                .enter().append("path")
                .attr("class", "link")
                .attr("marker-end", "url(#arrow)" );//根据箭头标记的id号标记箭头


            var edges_text = svg.selectAll(".linetext")
                .data(bilinks)
                .attr("class","linetext")
                .style("stroke","#1874CD")
                .enter().append("text")
                .text(function(d){
                    return d[2]
                })
                .style("font-size","12px");


            var node = svg.selectAll("image")
                .data(nodes.filter(function(d) { return d.name; }))
                .enter()
                .append("image")
                .attr("xlink:href",function(d){
                    return d.image;
                })
                .attr("width",img_w)
                .attr("height",img_h)
                .attr("class", "node")
                .attr("r", 5)
                .call(d3.drag()
                    .on("start", dragstarted)
                    .on("drag", dragged)
                    .on("end", dragended));

            node.append("title")
                .text(function(d) { return "企业统一社会信用代码：" + d.id; });


            var nodes_text = svg.selectAll(".nodetext")
                .data(nodes)
                .enter()
                .append("text")
                .attr("class","nodetext")
                .text(function(d){
                    return d.name;
                })
                .style("font-size","13px");

            simulation
                .nodes(nodes)
                .on("tick", ticked);

            simulation.force("link")
                .links(curlinks);

            function ticked() {
                link.attr("d", positionLink);
                node.attr("transform", positionNode);
                edges_text.attr("x",binode_x);
                edges_text.attr("y",binode_y);
                nodes_text.attr("x",node_x);
                nodes_text.attr("y",node_y);
            }
        });

        function positionLink(d) {
            var sx = d[0].x + 10 + d[3] * 8;
            var sy = d[0].y + 15 + d[3] * 8;
            var tx = d[1].x + 10 + d[3] * 8;
            var ty = d[1].y + 15 + d[3] * 8;
            return "M" + sx + "," + sy
                + " " + tx + "," + ty;
        }

        function binode_x(d) {
            var sx = d[0].x + 10 + d[3] * 8;
            var tx = d[1].x + 10 + d[3] * 8;
            return sx + (tx - sx) * d[4];
        }

        function binode_y(d) {
            var sy = d[0].y + 15 + d[3] * 8;
            var ty = d[1].y + 15 + d[3] * 8;
            return sy + (ty - sy) * d[4];
        }

        function node_x(d) {
            return d.x + 5;
        }

        function node_y(d) {
            return d.y + 39;
        }

        function positionNode(d) {
            return "translate(" + d.x + "," + d.y + ")";
        }

        function dragstarted(d) {
            if (!d3.event.active) simulation.alphaTarget(0.3).restart();
            d.fx = d.x, d.fy = d.y;
        }

        function dragged(d) {
            d.fx = d3.event.x, d.fy = d3.event.y;
        }

        function dragended(d) {
            if (!d3.event.active) simulation.alphaTarget(0);
            d.fx = null, d.fy = null;
        }
    }


</script>
</html>
